{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main post-detail">
    <header class="post-header" style="margin-bottom: 0px">
      <h1 class="post-title">{{ .Title }}</h1>
      <p class="post-meta">{{ .Date.Format "Jan 2, 2006" }} · {{ .ReadingTime }} min read</p>
    </header>
    <article class="post-content">{{ .Content }}</article>
    <footer class="post-footer" style="margin: 0px">
      {{ if isset .Params "tags" }}
      <ul class="post-tags">
        {{ range $tag := .Params.tags }}
          <li><a href="/tags/{{ $tag | urlize }}"><span class="tag">{{ $tag | title }}</span></a></li>
        {{ end }}
      </ul>
      {{ end }}
    </footer>
    {{ if ne .Params.comments false }}
      {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
    {{ end }}
  </section>
  {{ partial "footer.html" . }}
{{ end }}
